{% extends "base.html"%}
{% load static %}
{% block content %}
    <!-- Bootstrap core CSS -->
    <!-- <link href={% static "bootstrap.min.css" %} rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href={% static  "signin.css" %} rel="stylesheet"> -->

        <form method= 'POST' class="form-signin"  style = "width:500px ; margin:auto">
          <br>
          <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="52" height="62">
          <br>
          <h1 class="h3 mb-3 font-weight-normal">Login</h1>
          {% csrf_token %}
          {{ form.as_p }}
          <button class="btn btn-lg btn-primary" type="submit">Login</button>
        </form>
{% endblock %}
